
.filter-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 2.5rem;
    gap:1rem;
}

.filter-bar div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.4rem;
}

.filter-bar label{
    font-weight: 700;
    color: rgba(148, 163, 184, 1);
    font-size: 0.8rem;
}

.filter-bar input,select{
    padding: 0.8rem 0.9rem;
    border: 1px rgba(226, 232, 240, 1) solid;
    border-radius: 0.5rem;
}