.room-detail{
    padding-inline: 40px;
}

.detail-columns{
    display: flex;
    gap:2rem;
}

.left-info-column{
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    border:1px rgba(226, 232, 240, 1) solid;
    border-radius: 1rem;
    width: 26rem;
}

.room-info-office{
    color:rgba(71, 85, 105, 1);
    display: flex;
    align-items: center;
    gap:5px;
}

.info-office-circle{
    background-color:rgba(71, 85, 105, 1);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-inline: 3px;
    display: inline-block;
    vertical-align: middle;
}

ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li{
    display: flex;
    align-items: center;
    gap:0.8rem;
}

.room-info-capacity::before{
    content: url("../../assets/capacityGreen.svg");
    width: 1rem;
    height: 1rem;
}

.room-info-feature.feature-display::before {
    content: url('../../assets/tvGreen.svg'); 
    width: 1rem;
    height: 1rem;
}

.room-info-feature.feature-whiteboard::before {
    content: url('../../assets/editGreen.svg'); 
    width: 1rem;
    height: 1rem;
}

.room-info-feature.feature-video::before {
    content: url('../../assets/videoGreen.svg'); 
    width: 1rem;
    height: 1rem;
}

/* правая колонка */

.right-schedule-column{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px rgba(226, 232, 240, 1) solid;
    border-radius: 1rem;
    padding: 2rem;
}

.schedule__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule__header--date{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.btn-choseDate{
    display: flex;
    align-items: center;
    gap:0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    border:1px rgba(226, 232, 240, 1) solid;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.btn-book{
    padding: 0.7rem 1.5rem;
   
}

